.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.card-insert {
  max-width: 15%;
  width: 210px;
  align-content: start;
  margin-left: 20px;
  background-color: aquamarine;
}

.mat-form-principal {
  margin-left: 5px
}

.mat-card-actions {
  margin-left: 5px;
}
